#about-index{
    padding: 0px;
}

.opacity-1{
    opacity: 1;
}

.bg-color1-amarillo{
    background-color: #F9EF1D;
}

.color1-amarillo{
    color: #F9EF1D;
}

.color1-amarillo-gradiente{
    background: linear-gradient(to right, #F9EF1D 0%, #fffb02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color2-plomo{
    color: #7D8081;
}

.color3-negro{
    color: #444444;
}

.content-container-contenedor-modalhellomedia{
    display: none;
    align-items: center;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: .2s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    z-index: 6;
    outline: none;
}

.container-contenedor-modalhellomedia{
    background-color: #fbff00;
    color: #444444;
    position: relative;
    overflow: initial;
    padding: 20px;
    max-height: 90%;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    border-radius: 2px;
    margin: 24px;
    overflow-y: auto;
    pointer-events: auto;
    transition: .3s cubic-bezier(.25,.8,.25,1);
    z-index: inherit;
    height: 300px;
    overflow-y: scroll;
}

.contenedor-modalhellomedia{
    height: 300px;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 85.375rem;
    margin-left: auto;
    margin-right: auto;
}

.modalhellomedia,
.modalhellomedia>h1,
.modalhellomedia>h2,
.modalhellomedia>h3,
.modalhellomedia>h4,
.modalhellomedia>h5{
    font-size: 16px;
    display: inline-block;
    line-height: 24px;
}

.mostrarhellomedia{
    display: block;
    display: flex;
}

.contenedor-container-close{
    position: absolute;
    top: -22px;
    right: 22px;
}

.container-close{
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #fbff07;
    position: fixed;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 38%);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.container-close > i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: inherit;
}

.dropdown-hm{
    font-size: 14px;
    color: #232323;
    padding: 9px 12px;
    margin: 0;
}

.ul-dropdown-hm{
    border: none;
}

.ul-dropdown-hm > li{
    font-size: 15px;
}


@media (max-width: 991px) {
    .navbar-lg-hm{
        display: none;
    }
}

@media (min-width: 992px){
    .navbar-hm{
        display: none;
    }
    .icons-lg-desaparece{
        display: none !important;
    }
}